VITE_APP_URL=https://bm.md
# VITE_API_URL=https://api.bm.md

# ANALYTICS_SCRIPT_URL=https://button.click/api/script.js
# ANALYTICS_SITE_ID=a2f02dd2e67d

GitHub 图床配置
GITHUB_IMAGE_TOKEN=github_pat_xxx
GITHUB_IMAGE_OWNER=111
GITHUB_IMAGE_REPO=imagebad
GITHUB_IMAGE_BRANCH=main
GITHUB_IMAGE_PUBLIC_BASE_URL=https://img.example.com
